.usersList form {
    max-width: 600px;
    border: 1px solid black;
    padding: 30px;
    margin: 7px auto;
}

.usersList form input,
.usersList form select {
    width: 100%;
}

.usersList button {
    background-color: rgb(11, 12, 12);
    color: white;
    padding: 5px 15px;
    margin: 15px 15px 25px 15px;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.usersList button:hover {
    opacity: 0.8;
}

.usersList .list {
   max-width: 600px;
   border: 1px solid black;
   padding: 30px;
   margin: auto; 
}

.usersList .list .userItem {
    border: 1px solid green;
    cursor: pointer;
}

.usersList .list .userItem:hover {
    background-color: red;
}
